@ -0,0 +1,30 @@
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Rr]ecordings/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider
[Ee]xported[Oo]bj/
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.gitattributes
Assets/@PaulosCreations/
Assets/Altar_Ruins_FREE/
Assets/Challenges/
Assets/DimensionalAssetDesign/
Assets/Emilulz_Assets/
Assets/Other_assets/
Assets/Samples/
Assets/Scenes/
Assets/Settings/
Assets/SnoozyRat/
Assets/ThreeDragons/
Assets/TombOfSilla/
Assets/XR/
Assets/XRI/
Assets/_Course Library/